USE [master]
GO
/****** Object:  Database [Assignment4]    Script Date: 05/04/2018 06:56:38 PM ******/
CREATE DATABASE [Assignment4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Assignment4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Assignment4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment4]
GO
USE [Assignment4]
GO
/****** Object:  User [ali]    Script Date: 05/04/2018 06:56:38 PM ******/
CREATE USER [ali] FOR LOGIN [ali] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 05/04/2018 06:56:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/04/2018 06:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[NIC] [varchar](20) NOT NULL,
	[DOB] [date] NOT NULL,
	[IsCricket] [bit] NOT NULL,
	[Hockey] [bit] NOT NULL,
	[Chess] [bit] NOT NULL,
	[ImageName] [varchar](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [AdminName], [Login], [Password]) VALUES (1, N'Ahsan', N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Login], [Password], [Gender], [Address], [Age], [NIC], [DOB], [IsCricket], [Hockey], [Chess], [ImageName], [CreatedOn], [Email]) VALUES (1, N'ali nasir', N'ali', N'1234', N'M', N'sajdaskn', 21, N'21541-5784113-6', CAST(N'2018-05-04' AS Date), 1, 1, 1, N'26bc7d41-0b8a-46bb-8d9f-36c525568b47.jpg', CAST(N'2018-05-04T18:35:01.000' AS DateTime), N'usama@gmail.com')
INSERT [dbo].[Users] ([UserID], [Name], [Login], [Password], [Gender], [Address], [Age], [NIC], [DOB], [IsCricket], [Hockey], [Chess], [ImageName], [CreatedOn], [Email]) VALUES (5, N'usama', N'usama', N'1234', N'M', N'ashdughj', 21, N'45257-8411364-5', CAST(N'2018-05-04' AS Date), 1, 1, 1, N'6ad1254d-c0df-4bf5-91d2-9d908f87fdcc.jpg', CAST(N'2018-05-04T18:43:16.000' AS DateTime), N'alinasir85@live.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
